@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Código inicial padrão*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Código topo da pag*/
.navbar {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  background: #f0f7ff;
  box-shadow: 2px 5px #dce3f0; /*Usado para criar efeito sombra*/
  justify-content: center;
  align-items: center;
}

/*Código para o conteiner da logo*/
.logo {
  flex: 20%;
  margin-left: 10%; /*Usado para afastar da lateral da pág.*/
  text-align: left;
}

/*Código para a logo em si*/
.logo h1 {
  font-family: "Lobster", sans-serif;
  color: #180f4a;
  font-size: 34px;
}

/*Código para o conteiner do menu*/
.menu {
  flex: 70%;
  text-align: right;
  padding: 20px;
}

/*Código para os links do menu*/
.menu a {
  color: #180f4a;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;
}

/* Código para quando o mause passar sobre os links*/
.menu a:hover {
  color: white;
  background: #ff2978;
  border-radius: 5px;
}

/*Código para criar um destaque em um dos links*/
#button {
  background: #180f4a;
  padding: 10px 25px;
  color: white;
  border-radius: 5px; /*Usado para arredondar as bordas.*/
  margin-right: 10%; /*Usado para afastar da lateral da pág.*/
  margin-left: 5px; /*Usado para afastar dos outros links.*/
}

/* Código para quando o mause passar sobre ele*/
#button:hover {
  border: none;
  background: #ff2978;
}
/* Código para 100% do conteiner */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* Código para 50% do conteiner do lado esquerdo */
.headline {
  margin-left: 10%; /*Usado para afastar da lateral da pág.*/
  flex: 40%;
}

.headline h2 {
  font-weight: 900;
  font-size: 20px;
  color: #180f4a;
  padding: 0; /* Valor para juntar as linhas*/
  margin: 0; /* Valor para juntar as linhas*/
}

.headline p {
  color: grey;
  text-align: left;
}

.contact-btn {
  display: inline-block; /*Usado para deslocar o botão para baixo.*/
  background: #ff2978;
  padding: 20px;
  color: white;
  text-transform: uppercase; /*Usado para deixar o texto todo maiúsculo.*/
  text-decoration: none; /*Usado paramremover o traço embaixo do link.*/
  border-radius: 5px;
}

/* Código para quando o mause passar sobre ele*/
.contact-btn:hover {
    background: #180f4a;
}

/* Código para 50% do conteiner do lado direito */
.img-headline {
  margin-right: 10%; /*Usado para afastar da lateral da pág.*/
  flex: 40%;
  text-align: center; /* Valor centralizar a img*/
  margin-top: 5px;
}
